<div class="bar bar-header bar-stable">
    <h1 class="title">Team list</h1>
    <a ui-sref="team-edit" class="button button-dark">Add new</a>
</div>
<ion-content class="has-header">
    <div>


        <ul class="list">
            <li data-ng-repeat="item in team" class="item">
                <h2 class="title">{{item.name}}</h2>
                <div>
                    <a class="button button-positive button-small icon-left ion-edit" href="#/team/{{item.id}}">View</a>
                    <a class="button button-positive button-small icon-left ion-android-delete" href="#/team/edit/{{item.id}}">Edit</a>
                    <a class="button button-assertive button-small icon-left ion-eye" data-ng-click="removeMember(item.id);">Delete</a>
                </div>
            </li>
        </ul>
    </div>
</ion-content>